Repository wosaline/inetum_project, pull requests merged in 2024-08, with the labels that each got.

#58 [front] prepare calendar ui
  eventsAppBackend/src/main/java/com/demo/eventsAppBackend/controller/EventController.java
  eventsAppBackend/src/main/java/com/demo/eventsAppBackend/repository/EventRepository.java
  eventsAppBackend/src/main/java/com/demo/eventsAppBackend/service/EventService.java
  eventsAppBackend/src/main/java/com/demo/eventsAppBackend/service/EventServiceImpl.java
  eventsAppFrontend/package-lock.json
  eventsAppFrontend/package.json
  eventsAppFrontend/public/event0.jpeg
  eventsAppFrontend/public/event1.webp
  eventsAppFrontend/public/event10.jpeg
  eventsAppFrontend/public/event11.jpeg
  eventsAppFrontend/public/event12.jpeg
  eventsAppFrontend/public/event13.jpeg
  eventsAppFrontend/public/event14.webp
  eventsAppFrontend/public/event15.jpeg
  eventsAppFrontend/public/event16.jpeg
  eventsAppFrontend/public/event17.jpeg
  eventsAppFrontend/public/event18.webp
  eventsAppFrontend/public/event2.jpeg
  eventsAppFrontend/public/event3.jpeg
  eventsAppFrontend/public/event4.jpeg
  eventsAppFrontend/public/event5.jpeg
  eventsAppFrontend/public/event6.jpeg
  eventsAppFrontend/public/event7.jpeg
  eventsAppFrontend/public/event8.jpeg
  eventsAppFrontend/public/event9.jpeg
  eventsAppFrontend/src/app/app.routes.ts
  eventsAppFrontend/src/app/calendar-page/calendar-page.component.css
  eventsAppFrontend/src/app/calendar-page/calendar-page.component.html
  eventsAppFrontend/src/app/calendar-page/calendar-page.component.spec.ts
  eventsAppFrontend/src/app/calendar-page/calendar-page.component.ts
  eventsAppFrontend/src/app/event-card/event-card.component.html
  eventsAppFrontend/src/app/event-card/event-card.component.ts
  eventsAppFrontend/src/app/events-list/events-list.component.css
  eventsAppFrontend/src/app/events-list/events-list.component.html
  eventsAppFrontend/src/app/events-list/events-list.component.ts
  eventsAppFrontend/src/app/home-component/home-component.component.html
  eventsAppFrontend/src/app/home-component/home-component.component.ts
  eventsAppFrontend/src/app/navbar/navbar.component.css
  eventsAppFrontend/src/app/navbar/navbar.component.html
  eventsAppFrontend/src/app/navbar/navbar.component.ts
  eventsAppFrontend/src/app/utils.ts
  eventsAppFrontend/src/services/auth.service.ts
  eventsAppFrontend/src/services/http-provider.service.ts
  eventsAppFrontend/src/services/web-api.service.ts
Labels: frontend, To review

#59 user-profil
  eventsAppBackend/src/main/resources/data.sql
  eventsAppFrontend/src/app/app.routes.ts
  eventsAppFrontend/src/app/event-page/event-page.component.ts
  eventsAppFrontend/src/app/navbar/navbar.component.html
  eventsAppFrontend/src/app/user-profile/user-profile.component.css
  eventsAppFrontend/src/app/user-profile/user-profile.component.html
  eventsAppFrontend/src/app/user-profile/user-profile.component.spec.ts
  eventsAppFrontend/src/app/user-profile/user-profile.component.ts
  eventsAppFrontend/src/assets/favicon.ico
  eventsAppFrontend/src/index.html
  eventsAppFrontend/src/services/http-provider.service.ts
Labels: frontend, On going

#69 frontend : prepare UI admin dashboard : user delete and edit role
  eventsAppFrontend/src/app/admin-page/admin-page.component.css
  eventsAppFrontend/src/app/admin-page/admin-page.component.html
  eventsAppFrontend/src/app/admin-page/admin-page.component.spec.ts
  eventsAppFrontend/src/app/admin-page/admin-page.component.ts
  eventsAppFrontend/src/app/admin-page/users-management/users-management.component.css
  eventsAppFrontend/src/app/admin-page/users-management/users-management.component.html
  eventsAppFrontend/src/app/admin-page/users-management/users-management.component.spec.ts
  eventsAppFrontend/src/app/admin-page/users-management/users-management.component.ts
  eventsAppFrontend/src/app/admin.guard.spec.ts
  eventsAppFrontend/src/app/admin.guard.ts
  eventsAppFrontend/src/app/app.component.html
  eventsAppFrontend/src/app/app.routes.ts
  eventsAppFrontend/src/app/home-component/home-component.component.html
  eventsAppFrontend/src/app/login/login.component.ts
  eventsAppFrontend/src/app/navbar/navbar.component.html
  eventsAppFrontend/src/app/navbar/navbar.component.ts
  eventsAppFrontend/src/services/auth.service.ts
  eventsAppFrontend/src/services/http-provider.service.ts
  eventsAppFrontend/src/styles.css
Labels: frontend, To review

#73 [back] get all comments
  eventsAppBackend/src/main/java/com/demo/eventsAppBackend/controller/CommentController.java
  eventsAppBackend/src/main/java/com/demo/eventsAppBackend/repository/CommentRepository.java
  eventsAppBackend/src/main/java/com/demo/eventsAppBackend/service/CommentService.java
  eventsAppBackend/src/main/java/com/demo/eventsAppBackend/service/CommentServiceImpl.java
Labels: backend, To review

#74 71 frontend admin page comments management
  eventsAppFrontend/src/app/admin-page/admin-page.component.css
  eventsAppFrontend/src/app/admin-page/comments-management/comments-management.component.css
  eventsAppFrontend/src/app/admin-page/comments-management/comments-management.component.html
  eventsAppFrontend/src/app/admin-page/comments-management/comments-management.component.ts
  eventsAppFrontend/src/app/app.routes.ts
  eventsAppFrontend/src/app/modal/modal.component.css
  eventsAppFrontend/src/app/modal/modal.component.html
  eventsAppFrontend/src/app/modal/modal.component.ts
  eventsAppFrontend/src/interfaces/Comment.ts
  eventsAppFrontend/src/services/auth.service.ts
  eventsAppFrontend/src/services/http-provider.service.ts
Labels: frontend, To review
